<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manway.dao.TruckMapper" >
  <resultMap id="BaseResultMap" type="com.manway.entity.Truck" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="truck_type" property="truckType" jdbcType="VARCHAR" />
    <result column="truck_plate_number" property="truckPlateNumber" jdbcType="VARCHAR" />
    <result column="driver_id" property="driverId" jdbcType="VARCHAR" />
    <result column="truck_id" property="truckId" jdbcType="VARCHAR" />
    <result column="driver_name" property="driverName" jdbcType="VARCHAR" />
    <result column="driver_number" property="driverNumber" jdbcType="VARCHAR" />
    <result column="driver_mobile" property="driverMobile" jdbcType="VARCHAR" />
    <result column="truck_location" property="truckLocation" jdbcType="VARCHAR" />
    <result column="truck_state" property="truckState" jdbcType="VARCHAR" />
    <result column="is_working" property="isWorking" jdbcType="BIT" />
    <result column="state" property="state" jdbcType="BIT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_temporary" property="isTemporary" jdbcType="BIT" />
  </resultMap>
 
  <sql id="Base_Column_List" >
    id, truck_type, truck_plate_number, driver_id, driver_name, driver_number, driver_mobile, 
    truck_location, truck_state, is_working, state, remark, is_temporary,truck_id
  </sql>
  
   <sql id="Page_Column_List" >
    id, truck_type, truck_plate_number, driver_id,driver_mobile,truck_id,
    truck_location, truck_state, is_working, is_temporary,driver_name
  </sql>
  
   
  
  <select id="findAsCombobox" resultType="java.util.Map">
    select 
    <include refid="Page_Column_List" />
    from truck
    where truck_state = "正常" and is_working = false
    </select>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="com.manway.queryParam.TruckQueryParam">
    select 
    <include refid="Page_Column_List" />
    from truck
    where 1 = 1
    <if test="keyWord != null and keyWord != ''">
        and (
        	 truck_state like "%"#{keyWord}"%"
        	or truck_plate_number like "%"#{keyWord}"%"
        	or truck_location like "%"#{keyWord}"%"
        	or truck_id like "%"#{keyWord}"%"
        )
    </if>
    <if test="truckState != null and truckState != ''">
        and truck_state like "%"#{truckState}"%"
    </if>
    <if test="truckId != null and truckId != ''">
        and truck_id like "%"#{truckId}"%"
    </if>
    <if test="truckLocation != null and truckLocation != ''">
        and truck_location like "%"#{truckLocation}"%"
    </if>
    <if test="truckPlateNumber != null and truckPlateNumber != ''">
        and truck_plate_number like "%"#{truckPlateNumber}"%"
    </if>
    order by truck_id asc
  </select>
  
  <select id="findByTruckId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from truck
    where truck_id = #{truckId,jdbcType=VARCHAR}
  </select>
  

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from truck
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from truck
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manway.entity.Truck" >
    insert into truck (id, truck_type, truck_plate_number, 
      driver_id, driver_name, driver_number, 
      driver_mobile, truck_location, truck_state, 
      is_working, state, remark, is_temporary,truck_id
      )
    values (#{id,jdbcType=VARCHAR}, #{truckType,jdbcType=VARCHAR}, #{truckPlateNumber,jdbcType=VARCHAR}, 
      #{driverId,jdbcType=VARCHAR}, #{driverName,jdbcType=VARCHAR}, #{driverNumber,jdbcType=VARCHAR}, 
      #{driverMobile,jdbcType=VARCHAR}, #{truckLocation,jdbcType=VARCHAR}, #{truckState,jdbcType=VARCHAR}, 
      #{isWorking,jdbcType=BIT}, 
      #{state,jdbcType=BIT}, #{remark,jdbcType=VARCHAR}, #{isTemporary,jdbcType=BIT}, 
      #{truckId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manway.entity.Truck" >
    insert into truck
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="truckType != null" >
        truck_type,
      </if>
      <if test="truckPlateNumber != null" >
        truck_plate_number,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="truckId != null" >
        truck_id,
      </if>
      <if test="driverName != null" >
        driver_name,
      </if>
      <if test="driverNumber != null" >
        driver_number,
      </if>
      <if test="driverMobile != null" >
        driver_mobile,
      </if>
      <if test="truckLocation != null" >
        truck_location,
      </if>
      <if test="truckState != null" >
        truck_state,
      </if>
      <if test="isWorking != null" >
        is_working,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isTemporary != null" >
        is_temporary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="truckType != null" >
        #{truckType,jdbcType=VARCHAR},
      </if>
      <if test="truckPlateNumber != null" >
        #{truckPlateNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="truckId != null" >
        #{truckId,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null" >
        #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverNumber != null" >
        #{driverNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null" >
        #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="truckLocation != null" >
        #{truckLocation,jdbcType=VARCHAR},
      </if>
      <if test="truckState != null" >
        #{truckState,jdbcType=VARCHAR},
      </if>
      <if test="isWorking != null" >
        #{isWorking,jdbcType=BIT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isTemporary != null" >
        #{isTemporary,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manway.entity.Truck" >
    update truck
    <set >
      <if test="truckType != null" >
        truck_type = #{truckType,jdbcType=VARCHAR},
      </if>
      <if test="truckPlateNumber != null" >
        truck_plate_number = #{truckPlateNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=VARCHAR},
      </if>
      <if test="truckId != null" >
        truck_id = #{truckId,jdbcType=VARCHAR},
      </if>
      <if test="driverName != null" >
        driver_name = #{driverName,jdbcType=VARCHAR},
      </if>
      <if test="driverNumber != null" >
        driver_number = #{driverNumber,jdbcType=VARCHAR},
      </if>
      <if test="driverMobile != null" >
        driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      </if>
      <if test="truckLocation != null" >
        truck_location = #{truckLocation,jdbcType=VARCHAR},
      </if>
      <if test="truckState != null" >
        truck_state = #{truckState,jdbcType=VARCHAR},
      </if>
      <if test="isWorking != null" >
        is_working = #{isWorking,jdbcType=BIT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isTemporary != null" >
        is_temporary = #{isTemporary,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manway.entity.Truck" >
    update truck
    set truck_type = #{truckType,jdbcType=VARCHAR},
      truck_plate_number = #{truckPlateNumber,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=VARCHAR},
      truck_id = #{truckId,jdbcType=VARCHAR},
      driver_name = #{driverName,jdbcType=VARCHAR},
      driver_number = #{driverNumber,jdbcType=VARCHAR},
      driver_mobile = #{driverMobile,jdbcType=VARCHAR},
      truck_location = #{truckLocation,jdbcType=VARCHAR},
      truck_state = #{truckState,jdbcType=VARCHAR},
      is_working = #{isWorking,jdbcType=BIT},
      state = #{state,jdbcType=BIT},
      remark = #{remark,jdbcType=VARCHAR},
      is_temporary = #{isTemporary,jdbcType=BIT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>